@use '../../Style/variables'

table
    background-color: variables.$color-white
    border-radius: 0.2rem
    margin-top: 2rem
    margin-bottom: 2rem
    width: 82vw
    height: auto
    padding: 2rem
    table-layout: fixed

    thead
        height: 6vh

        tr
            th
                font-weight: 600
                word-wrap: break-word
                overflow-wrap: break-word
                text-align: start

        .actionData
            width: 5rem
            text-align: center

    tbody
        tr
            height: 10vh
            
            td, th
                width: calc(100% / 6)

            td
                word-wrap: break-word
                overflow-wrap: break-word
                text-align: start

                .skeletonLine
                    height: 20px
                    background: linear-gradient(90deg, #eee, #ddd, #eee)
                    background-size: 200% 100%
                    animation: shimmer 1.2s infinite
                    border-radius: 4px
                    margin-top: 2rem 

                .skeletonIcon
                    width: 24px
                    height: 24px
                    border-radius: 4px
                    background: linear-gradient(90deg, #eee, #ddd, #eee)
                    background-size: 200% 100%
                    animation: shimmer 1.2s infinite
                    margin-top: 2rem 

            .icons
                display: flex
                flex-direction: row-reverse
                justify-content: space-between
                height: 10vh
                width: 5rem
                align-items: center

                button
                    background-color: transparent
                    border: none
                    cursor: pointer

                    .trash
                        color: rgb(218, 0, 0)
                        margin-left: 0.5rem

                    .userPen
                        color: rgb(88, 88, 88)

                    .trash:hover, .userPen:hover
                        color: rgb(177, 177, 177)
                        transition: all .3s

.green
    background-color: green
    border-radius: 50%
    height: 2rem
    width: 2rem

.red
    background-color: red
    border-radius: 50%
    height: 2rem
    width: 2rem

@keyframes shimmer
    0%
        background-position: 200% 0
    100%
        background-position: -200% 0